<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/datatables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="./css/common/base.css">
    <!-- <link rel="stylesheet" href="./css/common/layout1.css"> -->
    <link rel="stylesheet" href="./css/common/layout.css">
    <link rel="stylesheet" href="./css/EGDPerformanceAnalysis.css">
    <link rel="stylesheet" href="./css/dataTables/EGDTables.css">
</head>

<body>

    <div class="egd_performance_analysis">
        <div class="egd_title clearfix">
            <h1 class="fl">您的“eBay Guaranteed Dellvery ( EGD ) ”表现分析</h1>
            <a href="javascript:;" class="fl">(<i></i>帮助说明)</a>
            <span class="fr">2018.01.01-2018.03.31</span>
        </div>

        <!-- topbar buttons start -->
        <div class="egd_sort">
            <ul class="egd_line clearfix">
                <li class="active">
                    <a href="javascript:;" class="GMV_USD_sort">交易额比重最高的线路(前5)</a>
                </li>
                <li>
                    <a href="javascript:;" class="egd_set_sort">已设置EGD的问题线路 <span>( 12 )</span></a>
                </li>
                <li>
                    <a href="javascript:;"  class="egd_unset_sort">待设置EGD优质线路 <span>( 12 )</span></a>
                </li>
            </ul>
        </div>
        <!-- topbar buttons end -->

        <!-- datatable statr -->
        <div class="table_container">
            <table id="example" class="display mb20" cellspacing="0" style="width:1200px">

                <thead>

                    <tr>

                        <th >发货地</th>

                        <th >收货地</th>

                        <th >货运方式</th>

                        <th >交易量/<br>比重</th>

                        <th >交易额/<br>比重</th>

                        <th >实际货运时间(97%以上达到时间)</th>

                        <th >您设置的EGD时效</th>

                        <th >您设置的EDG达标比例</th>

                        <th >表现分析</th>
                    </tr>

                </thead>


                <tbody id="Performance_analysis">
                    <!-- Performance analysis datas -->
                </tbody>
            </table>
         </div>
        <!-- datatable end -->

        <!--export data start  -->
        <div class="export_data mt20 text-center">
            <a href="javascript:;" id="data_link">完整数据导出</a>
        </div>
        <!--export data end  -->
    </div>


    <!-- Overseas warehouse settings analysis  start -->
    <div class="overseas_warehouse_settings clearfix">
        <div class="egd_title clearfix">
            <h1 class="fl">按EGD标准的海外仓设置分析:</h1>
            <!-- <span class="fr">2018.01.01-2018.03.31</span> -->
        </div>
        <!-- sidebar buttons start -->
        <div class="overseas_warehouse_preview fl">
            <div class="tips">点击预览增加海外仓对有效覆盖区域的影响</div>
            <div class="overseas_warehouse1">
                <h1 class="mt20 mb8">万邑通WINIT美国仓</h1>
                <ul class="clearfix">
                    <li class="clearfix active">
                        <div class="warehouse fl">
                            <h1 class="mb8">增加CA仓</h1>
                            <a href="javascript:;">CA仓介绍</a>
                        </div>
                        <div class="warehouse_sales fl">
                            <p>EGD涵盖销售区域: <span>+26</span></p>
                            <p>EGD涵盖销售额: <span>+20%</span></p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="warehouse fl">
                            <h1 class="mb8">增加CA仓</h1>
                            <a href="javascript:;">CA仓介绍</a>
                        </div>
                        <div class="warehouse_sales fl">
                            <p>EGD涵盖销售区域: <span>+26</span></p>
                            <p>EGD涵盖销售额: <span>+20%</span></p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="warehouse fl">
                            <h1 class="mb8">增加CA仓</h1>
                            <a href="javascript:;">CA仓介绍</a>
                        </div>
                        <div class="warehouse_sales fl">
                            <p>EGD涵盖销售区域: <span>+26</span></p>
                            <p>EGD涵盖销售额: <span>+20%</span></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="overseas_warehouse2">
                <h1 class="mt20 mb8">NEW EGG美国仓</h1>
                <ul class="clearfix">
                    <li class="clearfix active">
                        <div class="warehouse fl">
                            <h1 class="mb8">增加CA仓</h1>
                            <a href="javascript:;">CA仓介绍</a>
                        </div>
                        <div class="warehouse_sales fl">
                            <p>EGD涵盖销售区域: <span>+26</span></p>
                            <p>EGD涵盖销售额: <span>+20%</span></p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="warehouse fl">
                            <h1 class="mb8">增加CA仓</h1>
                            <a href="javascript:;">CA仓介绍</a>
                        </div>
                        <div class="warehouse_sales fl">
                            <p>EGD涵盖销售区域: <span>+26</span></p>
                            <p>EGD涵盖销售额: <span>+20%</span></p>
                        </div>
                    </li>
                    <li class="clearfix active">
                        <div class="warehouse fl">
                            <h1 class="mb8">增加CA仓</h1>
                            <a href="javascript:;">CA仓介绍</a>
                        </div>
                        <div class="warehouse_sales fl">
                            <p>EGD涵盖销售区域: <span>+26</span></p>
                            <p>EGD涵盖销售额: <span>+20%</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- sidebar buttons end -->

        <!--Overseas warehouse maps start  -->
        <div id="overseas_warehouse_maps" class="mt20">
            <div class="overseas_warehouse_messages clearfix">
                <ul class="fl">
                    <li>
                        增加<span style="color:#5b9bd5"> CA 仓 </span>采用
                        <select name="" id="">
                                <option value="1">Winit:USPS Priority Mail</option>
                                <option value="2" selected>2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                        </select>
                    </li>
                    <li>
                        增加<span> CA 仓 </span>采用
                        <select name="" id="">
                                    <option value="1">Winit:USPS Priority Mail</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                            </select>
                    </li>
                    <li>
                        增加<span> CA 仓 </span>采用
                        <select name="" id="">
                                    <option value="1">Winit:USPS Priority Mail</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                            </select>
                    </li>
                    <li>
                        增加<span> CA 仓 </span>采用
                        <select name="" id="">
                                    <option value="1">Winit:USPS Priority Mail</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                            </select>
                    </li>
                    <li>
                        增加<span> CA 仓 </span>采用
                        <select name="" id="">
                                    <option value="1">Winit:USPS Priority Mail</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                            </select>
                    </li>
                    <li>
                        增加<span> CA 仓 </span>采用
                        <select name="" id="">
                                    <option value="1">Winit:USPS Priority Mail</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                            </select>
                    </li>
                </ul>
                <!-- <div class="delivery_method fl">
                    
                </div> -->

                <div class="details">
                    您目前的海外仓可按EGD标准有效覆盖
                    <a href="" title="aaa">1111</a>
                    <span>9</span> 个销售区域,涉及
                    <span>25%</span> 的当前账户月销售额

                    <i></i>
                </div>
            </div>
            <!-- maps start -->
            <div id="coverage_area" style="height: 480px;"></div>
            <!-- maps end -->
            <div class="overseas_warehouse_tips">
                注:
                <ul>
                    <li>
                        有效覆盖只是海外仓服务的一个方面，建议通过<a href="javascript:;">EGD标准海外仓服务简介</a>，查看并联系服务提供商了解详细服务及价格后再做出您的选择。
                    </li>
                    <li>
                        EGD有效覆盖区域：指对应选择的海外仓，发货到该地区4天内可送达（包括4天。本时效起点为海外仓出库完成时间，终点是妥投时间，handling time请遵照服务商要求。 ）
                    </li>
                    <li>
                        当前账户月销售额：仅指当前账户过去一个月实际销售额，未涉及增仓后对相关地区的销售促进预期。比例=EGD有效覆盖地区累计月销售额/账户总体月销售额。
                    </li>
                    <li>
                        CA=California; NJ=New Jersey; IN=Indiana; KY=Kentucky; TX=Texas.
                    </li>
                </ul>
            </div>
        </div>
        <!--Overseas warehouse maps end  -->

    </div>
    <!-- Overseas warehouse settings analysis  end -->

</body>

</html>


<script src="./lib/jQuery/jquery-1.8.3.min.js"></script>
<script src="./lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="./lib/datatables/js/dataTables.sort.plungin.js"></script>
<script src="./lib/backbone/underscore/underscore-min.js"></script>
<script src="./lib/backbone/backbone-min.js"></script>
<script src="./lib/arttemplate/template-web.js"></script>
<script src="./js/common/common.js"></script>
<script src="./lib/highmaps/highmaps.js"></script>
<script src="./lib/highmaps/maps_data.js"></script>
<script src="./until/config.js"></script>
<!-- datas -->
<!-- <script src="./js/data/table.js"></script> -->
<!-- 表格数据 -->
<script type="text/html" id='EGD_Datas'>
    {{each result v i}}
    <tr>

        <td>{{v.ship_from}}</td>

        <td>{{v.ship_to}}</td>

        <td>{{v.SHPMT_MTHD}}</td>

        <td>{{v.TXN_CNT}}/{{v.TXN_CNT_share}}</td>

        <td>{{v.GMV_USD}}/{{v.GMV_USD_share}}</td>

        <td>{{v.PD_97}}</td>

        <td>{{v.egd_set_day}}</td>

        <!-- style= {{v.egd_rate}}.Tostring().split("%")[0]'>'97?"color:#00b050":"color:red" -->
        <td>{{v.egd_rate}}</td>
        <td>
            <!-- 未设置EGD的逻辑 -->
            <% if (v.egd_set_day ==0||"") { %>
                <ul>
                    <% if (v.PD_97 <= 4) { %>
                    <li style="color:#00b050;font-weight:800" >可设置EGD={{v.PD_97}}天</li>
                    <% } else { %>
                        <!--v.PD_97大于4的逻辑  -->
                    <li>当前海外仓未能有效覆盖</li>
                    <li><a href="javascript:;">点击查看可以有效覆盖的海外仓</a></li>
                    <% } %>
                </ul>
                <!-- 设置EGD的逻辑 -->
            <% } else if(v.egd_set_day > 0) { %>
                <% if (v.PD_97 <= 4 && v.PD_97 < v.egd_set_day) { %>
                <span>表现良好,继续加油！</span>
                <% } else { %>
            <ul>
                    <!-- “PD_97”小于等于4，但大于“egd_set_day” -->
                    <% if (v.PD_97 <= 4 && v.PD_97 > v.egd_set_day) { %>
                    <li style="color:#00b050;font-weight:800" >可设置EGD={{v.PD_97}}天</li>
                    <% } %>
                    <% if (v.PD_97 > 4) { %>
                    <li>当前海外仓未能有效覆盖</li>
                    <li><a href="javascript:;">点击查看可以有效覆盖的海外仓</a></li>
                    <% } %>
                    <!--出仓时间大于1天  -->
                    <% if (v.WH_AP_time > 1 ) { %>
                    <li>请注意将出仓时间控制在1天内，目前{{v.WH_AP_time}}天</li>
                    <% } %>
                    <!--PD_97的值比egd_set_day的值大于等于2的逻辑 -->
                    <% if (v.PD_97 - v.egd_set_day >=2) { %>
                        <li>请合理设置EGD，避免影响账户表现</li>
                    <% } %>
            </ul>
                <% } %>
            <% } %>
        </td>
    </tr>
    {{/each}}
</script>
<script src="./js/model/EGDTableModel.js"></script>


<script src="./js/view/EgdPerformanceTableView.js"></script>

<!--[if (gte IE 6)&(lte IE 9)]>
  <script type="text/javascript" src="selectivizr.js"></script>
  <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
<![endif]-->



<!-- <script>
    $(function () {
        $("th").css({
            "height": "60px",
            "cursor": "pointer"
        });
        // $("th").off().on("click", function () {});

        var lang = {
                "bProcessing" : true,
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "info": "",
                "sEmptyTable": "没有符合条件的记录",   // 数据为空时显示的信息
                "sInfoEmpty": "", // 表格页脚显示多少条信息具体内容                                            
                "oPaginate": {
                    "sFirst": "第一页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "最后一页",
                    "sJump": "跳转"
                },
        }

        var dt = $('#example').dataTable({
            // language : {
            // "sProcessing": "处理中...",
            // "sLengthMenu": "每页 _MENU_ 项",
            // "sZeroRecords": "没有匹配结果",
            // "sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
            // "sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
            // "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            // "sInfoPostFix": "",
            // "sSearch": "搜索:",
            // // "sUrl": "",
            // "sLoadingRecords": "载入中...",
            // "sInfoThousands": ",",
            // "oPaginate": {
            //     "sFirst": "首页",
            //     "sPrevious": "上页",
            //     "sNext": "下页",
            //     "sLast": "末页",
            //     "sJump": "跳转"
            // }},

            "language":lang,

            columnDefs: [{
                "targets": 'nosort',  //列的样式名
                "orderable": false    //包含上样式名‘nosort’的禁止排序
            }],

            // 'ordering': false,
            autoWidth: false,
            searching: false,
            "aLengthMenu": [5, 12],
            bFilter : true

        });

        // var dt = $('#example').DataTable();
        // $("#example_length").hide();
        // $("#example_paginate").hide();

        // initcomplete:function(){

        $(".GMV_USD_sort a").on("click", function () {
            alert(1);
            //         "aoColumnDefs": [
            //   { "aDataSort": [ 0, 1 ], "aTargets": [ 0 ] },
            //   { "aDataSort": [ 1, 0 ], "aTargets": [ 1 ] },
            //   { "aDataSort": [ 2, 3, 4 ], "aTargets": [ 2 ] }
            // ]


            dt.api({
                aoColumnDefs: {
                    "bSortable": true,
                    "aTargets": [3],
                    "asSorting": ["asc"],
                    "aTargets": [3]
                }
            })
            // dt.aoColumnDefs=[
            // ]


            // dt.order([
            //     [3, "asc"]
            // ]).draw();
            $("#example_paginate").hide();

        })
        // }
        $("#en").on("click", function () {
            $("#example_paginate").show();

        })


    })
</script> -->
<!-- <script src="./js/EGD/EgdTables.js"></script> -->
<!-- <script src="./js/EGD/tables.js"></script> -->

<!-- tables data -->
<script>
    // EGD.model.GetTable.fetch({
    //     url:"./json/transactions.json",
    //     success:function(model,res){
    //         console.log(res);
    //     }
    // })


</script>
<!-- <script>
    
    $.ajax({
        url:"./json/transactions.json",
        success:function(data){
            console.log(data);
        }
    })

</script> -->

<!-- maps -->
<script>

    $(function () {
       
        $.getJSON('https://data.jianshukeji.com/jsonp?filename=json/us-population-density.json&callback=?',
            function (data) {
                // Make codes uppercase to match the map data
                $.each(data, function () {
                    this.code = this.code.toUpperCase();
                });
                // Instanciate the map
                $('#coverage_area').highcharts('Map', {
                    chart: {
                        borderWidth: 0
                    },
                    legend: {
                        // comment out legend
                        enabled: false // 清除图例
                    },
                    title: {
                        // comment out title
                        text: null // 清空标题内容
                    },
                    // legend: {
                    //     layout: 'horizontal',
                    //     borderWidth: 0,
                    //     backgroundColor: 'rgba(255,255,255,0.85)',
                    //     floating: true,
                    //     verticalAlign: 'top',
                    //     y: 25
                    // },
                    // mapNavigation: {
                    //     enabled: true
                    // },
                    colorAxis: {
                        // min: 1111,
                        type: 'logarithmic',
                        minColor: 'gray',
                        maxColor: '#000022',
                        stops: [
                            [0, '#e9eaeb'],
                            // [0.67, '#4444FF'],
                            // [1, '#000022']
                        ]
                    },
                    // mapNavigation:{
                    //     enableButtons:false
                    // },
                    plotOptions: {
                        // comment out Mouse Tracking
                        series: {
                            enableMouseTracking: false // 鼠标移动到地图上显示气泡信息
                        }
                    },
                    series: [{
                        // animation: {
                        //     duration: 1000
                        // },
                        // align:"left",
                        data: data,
                        mapData: Highcharts.maps['countries/us/us-all'], // 地图的地理信息
                        joinBy: ['postal-code', 'code'], // 鼠标移动到地图上地址时，显示的详细地理信息
                        dataLabels: {
                            enabled: true,
                            // shape:"square",
                            borderWidth: 2,
                            // color: 'green',
                            // backgroundColor:"yellow",
                            // format: '{point.code}',
                            useHTML: true,
                            formatter: function () {
                                if (this.point.value != null)
                                    //添加图片元素



                                    return


                                '<span id = "circle" class = "fl">' + '</span>';
                                '<span class = "fl">' + "{point.code}" + '</span>'


                            }
                            // align:"right",
                            // crop:false,
                            // overflow:"none"
                        },
                        // datalables:{
                        //     enabled: true,

                        // color:'red',

                        // middleX: 0.5,                                        //设置节点中心的水平位置

                        // middleY: 0.5,                                        //设置节点中心的垂直位置

                        // align: 'left',                                             //设置水平对齐方式

                        // verticalAlign: 'top',                                //设置垂直对齐方式

                        // x: 0,                                                         //设置水平偏移距离

                        // y:0                                                           //设置垂直偏移距离
                        // }

                    }],
                    // Comment out the copyright information 清除版权声明
                    credits: {
                        enabled: false
                    }
                });
            });
    });
</script>
