/* header */
#header .logo {
	margin: -27px 0 0 20px;
	display: block;
}

#header .nav {
	position: absolute;
	bottom: 17px;
	left: 265px;
}

#header .nav li {
	margin: 0 0 0 20px;
	list-style: none outside none;
	float: left;
}

#header .nav li .icon {
	margin-right: 8px;
}


#header .main h1 {
	margin: 52px 0 0 152px;
	float: left;
	font-weight: bold;
}

#header .breadcrumb {
	margin: 20px 0 0 20px;
}

/* top navigation */
.top-nav {
	margin: 10px 0 0;
}

.top-nav .tab-nav {
	margin: 0 0 0 40px;
	float: left;
}

.top-nav .btn {
	margin-top: 5px;
	margin-right: 10px;
	float: right;
}

.top-nav .links-nav {
	margin: 0 0 0 250px;
}
/* top navigation end*/

#page h2 {
	font-weight: bold;
}

#page .pane h2 {
	margin-bottom: 25px;
}

/* table styles */

table.dataTable td.item-title img {
	margin: 5px 10px;
	width: 50px;
	height: 50px;
	float: left;
}

table.dataTable td.item-title p {
	line-height: 1.3;
	margin-top: 5px;
}

#rewarding-promo-table td .btn,
#ongoing-promo-table td .btn,
#end-promo-table td .btn {
	width: 76px;
	font-size: 12px;
	display: inline-block;
}

.dataTable td.state a{
	margin-top: 5px;
	font-size: 10px;
	display: block;
}

/* my uploaed listing */
.my-listing h3 {
	margin-bottom: 10px;
	font-size: 14px;
}

/* button and other control at the bottom of the page  */

.page-bottom-actions {
	text-align: center;
}

.page-bottom-actions a,
.page-bottom-actions .btn {
	margin-left: 5px;
}

.page-bottom-actions a:first-child,
.page-bottom-actions .btn:first-child {
	margin-left: 0;
}