.clr:after {
	content:"\0020";
	display:block;
	height:0;
	line-height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
}

.clr{
    overflow:visible;
}

.mb-25{
	margin-bottom:-25px;	
}

#page-pane h2 {
	font-weight: bold;
}

#page-pane .pane h2 {
	margin-bottom: 25px;
}

/* table styles */
/* concrete table style begin */

.header-no-wrap thead th {
	white-space: nowrap;
	line-height: 1.5;
}

.dataTable-container {
	margin-bottom: 20px;
	min-height: 60px;
	overflow: hidden;
}

table.dataTable thead th.text-left {
	text-align: left;
}

table.dataTable tbody td.open-tr,
table.dataTable tbody tr.open-tr {
	border-left: 1px solid #86bbe5;
	border-right: 1px solid #86bbe5;
	border-bottom: 1px solid #86bbe5;
	background-color: #f8f8f8;
}

table.dataTable tbody tr[open] td {
	border-top: 1px solid #86bbe5;
	border-bottom: none;
	background: #CDE6FA;
}

table.dataTable tbody tr[open] td:first-child {
	border-left: 1px solid #86bbe5;
}

table.dataTable tbody tr[open] td:last-child {
	border-right: 1px solid #86bbe5;
}

table.item-list-table {
	border-spacing: 0 10px;
	border-collapse: separate;
}

.dataTables_scrollHead table.item-list-table {
	border-spacing: 0 10px;
}

.dataTables_scrollBody table.item-list-table {
	margin-top: -20px;
}

table.item-list-table td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.item-list-table td:first-child {
	border-left: 1px solid #ccc;
}

table.item-list-table td:last-child {
	border-right: 1px solid #ccc;
}

table.item-list-table tbody tr.odd,
table.item-list-table tbody tr.even {
	background-color: #fff;
}

table.dataTable tbody td .msg {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.2em;
}

table.dataTable td.skuName a span {
	color: #f00;
}

#conv-item-table_info {
  clear: both;
  padding-left: 1em;
  color: #666;
  float: right;
  padding-top: 1em;
}
#watched-items-table_info {
	float: right;
}

/* conversion rate chat in table */
.dataTables_scrollHead {
	margin-bottom: 10px;
}

.pane-table .dataTables_wrapper {
	border-top: none;
}

table.dataTable td.item-title img,
table.dataTable td.pic-id img {
	margin-right: 10px;
	width: 50px;
	height: 50px;
	float: left;
}

table.dataTable td.item-title p {
	line-height: 1.3;
	margin-top: 5px;
	word-wrap: break-word;
	word-break: break-all;
}

table.dataTable td.pic-id p {
	line-height: 50px;
}

#rewarding-promo-table td .btn,
#ongoing-promo-table td .btn,
#end-promo-table td .btn,
#pending-promo-table td .btn {
	width: 76px;
	font-size: 12px;
	display: inline-block;
}

.dataTable td.state a{
	margin-top: 5px;
	font-size: 10px;
	display: block;
}

/* my uploaed listing */
.my-listing h3 {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}

.my-listing h3 small {
	font-size: smaller;
	color: #888;
}

/* button and other control at the bottom of the page  */

.page-bottom-actions {
	text-align: center;
}

.page-bottom-actions a,
.page-bottom-actions .btn {
	margin-left: 5px;
}

.page-bottom-actions a:first-child,
.page-bottom-actions .btn:first-child {
	margin-left: 0;
}