/* header */
#header .logo {
	margin: -27px 0 0 20px;
	display: block;
}

#header .nav {
	position: absolute;
	bottom: 17px;
	left: 265px;
}

#header .nav li {
	margin: 0 0 0 20px;
	list-style: none outside none;
	float: left;
}

#header .nav li .icon {
	margin-right: 8px;
}


#header .main h1 {
	margin: 52px 0 0 152px;
	float: left;
	font-weight: bold;
}

#header .breadcrumb {
	margin: 20px 0 0 20px;
}

/* top navigation */
.top-nav {
	margin: 10px 0 0;
}

.top-nav .tab-nav {
	margin: 0 0 0 40px;
	float: left;
}

.top-nav .btn {
	margin-top: 5px;
	margin-right: 10px;
	float: right;
}

.top-nav .links-nav {
	margin: 0 0 0 250px;
}
/* top navigation end*/

#page h2 {
	font-weight: bold;
}

#page .pane h2 {
	margin-bottom: 25px;
}
