/* Spacing */
mt0 {
	margin-top: 0;
}
.mt3 {
    margin-top:3px;
}
.mt5 {
    margin-top:5px;
}
.mt8 {
    margin-top:8px;
}
.mt10 {
    margin-top:10px;
}
.mt15 {
    margin-top:15px;
}
.mt20 {
    margin-top:20px;
}
.mt30 {
    margin-top:30px;
}
.mt40 {
    margin-top:40px;
}
.mb05 {
	margin-bottom: 0.5em;
}
.mb3 {
    margin-bottom:3px;
}
.mb5 {
    margin-bottom:5px;
}
.mb8 {
    margin-bottom:8px;
}
.mb10 {
    margin-bottom:10px;
}
.mb15 {
    margin-bottom:15px;
}
.mb20 {
    margin-bottom:20px;
}
.mb30 {
    margin-bottom:30px;
}
.ml3 {
	margin-left:3px;
}
.ml5 {
    margin-left:5px;
}
.ml10 {
    margin-left:10px;
}
.ml15 {
    margin-left:15px;
}
.ml20 {
    margin-left:20px;
}
.ml30 {
    margin-left:30px;
}
.mr3 {
	margin-right:3px;
}
.mr5 {
    margin-right:5px;
}
.mr10 {
    margin-right:10px;
}
.mr20 {
    margin-right:20px;
}
.mr30 {
    margin-right:30px;
}
.mr40 {
    margin-right: 40px;
}
.pl3 {
	padding-left:3px;
}
.pl5 {
	padding-left:5px;
}
.pl8 {
	padding-left:8px;
}
.pl10 {
    padding-left:10px;
}
.pt1 {
	padding-top:1px;
}
.pt3 {
	padding-top:3px;
}
.pt5 {
	padding-top:5px;
}
.pt10 {
    padding-top:10px;
}
.pt15 {
    padding-top:15px;
}
.pt20 {
    padding-top:20px;
}
.pb1 {
	padding-bottom:1px;
}
.pb3 {
	padding-bottom:3px;
}
.pb5 {
    padding-bottom:5px;
}
.pb10 {
    padding-bottom:10px;
}
.pb15 {
    padding-bottom:15px;
}
.w130 {
    width:130px;
}
.w120 {
    width:120px;
}
.w80 {
    width:80px;
}
.padding_lr3 {
	padding-left: 3px;
	padding-right: 3px;
}
.padding_lr5 {
    padding-left: 5px;
    padding-right: 5px;
}
.padding_lr10 {
    padding-left: 10px;
    padding-right: 10px;
}
.padding-small {
	padding: 6px 3px;
}
.padding-medium {
    padding: 10px 6px;
}
.padding-large {
    padding: 15px 10px;
}
.margin-small {
    margin: 6px 3px;
}
.margin10 {
    margin: 10px;
}
.height20 {
	height: 20px;
}
.height25 {
    height: 25px;
}

/* Position */
.position-r {
    position:relative;
}
.position-a {
    position:absolute;
}

/* Text align */

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

/* Border */
.border-thin {
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 5px 5px 3px #eee;
}
.border-thin-b {
	border-bottom: 1px solid #ccc;
}
.border-thin-t {
    border-top: 1px solid #ccc;
}
.border-thin-l {
    border-left: 1px solid #ccc;
}
.border-thin-r {
    border-right: 1px solid #ccc;
}

/* Color */
.color-cyan {
	color: #007ab0;
}
.color-red {
    color:#ff0000;
}
.color-lightred {
    color:#ff6600;
}
.color-black {
    color:#000;
}
.color-sblack {
    color:#666666;
}
.color-s4black {
    color:#444;
}
.color-blue {
	color: #0064D2;
}
.color-yellow {
    color: #ffff00;
}
.color-darkyellow {
    color:#c5b000;
}
.color-orange {
	color: #F7B100;
}
.color-green {
    color:#7bbd26;
}
.color-darkgreen {
    color:#090;
}
.color-gray {
    color: #A2A2A2;
}

/* line height*/
.lh1 {
	line-height: 1em;
}
.lh11 {
    line-height: 1.1em;
}
.lh12 {
    line-height: 1.2em;
}
.lh14 {
    line-height: 1.4em;
}
.lh16 {
    line-height: 1.6em;
}
.lh18 {
    line-height: 1.8em;
}
.lh20 {
    line-height: 2em;
}

/* font */
.font-bold {
	font-weight:bold;
}
.font05 {
    font-size: 0.5em;
}
.font06 {
    font-size: 0.6em;
}
.font075 {
	font-size: 0.75em;
}
.font08 {
    font-size: 0.8em;
}
.font1 {
	font-size: 1em;
}
.font11 {
    font-size: 1.1em;
}
.font12 {
    font-size: 1.2em;
}
.font14 {
    font-size: 1.4em;
}
.font16 {
    font-size: 1.6em;
}
.font18 {
    font-size: 1.8em;
}
.font20 {
    font-size: 2em;
}
.strong {
    font-weight: bold;
}
/* Background */
.bg-yellow {
	background-color: yellow;
}
.bg-pink {
    background: none repeat scroll 0 0 #FCF2F2;
}
.bg-gray {
    background: none repeat scroll 0 0 #ECEDEF;
}
.highlight {
	background-color:#ff0;
}

/* display */
.hidden {
	display: none;
}
/* float*/
.fl {
	float: left;
}
.fr {
    float: right;
}

/*cursor*/
.cursor-p {
	cursor:pointer;
}

/* clear */
.clear {
	clear: both;
}