@CHARSET "UTF-8";

button {
	cursor: pointer;
}

/* default behavior */
.btn,
.btn:visited {
	border: 1px solid transparent;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #00509d;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #007ABC),
		color-stop(1, #00519D)
	) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(bottom, #007ABC, #00519D) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -moz-linear-gradient(bottom, #007ABC, #00519D) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(bottom, #007ABC, #00519D) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(bottom, #007ABC, #00519D) repeat scroll 0 0 rgba(0, 0, 0, 0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=’false’, startColorstr='#007ABC', endColorstr='#00519D', GradientType='0'); /* IE5.5-9*/
	background: linear-gradient(to bottom, #007ABC, #00519D) repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding: 0.5em 1.2em;
	
	display: inline-block;

	font-size: 12px;	
	font-weight: 500;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	
	white-space: nowrap;
	line-height: normal;
	cursor: pointer;
	vertical-align: middle;
}

.btn-blue,
.btn-blue:visited {
	background: #2386c0;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.05, #FCFCFC),
		color-stop(1, #2386c0)
	);
	background-image: -o-linear-gradient(bottom, #45aad6 5%, #2386c0 100%);
	background-image: -moz-linear-gradient(bottom, #45aad6 5%, #2386c0 100%);
	background-image: -webkit-linear-gradient(bottom, #45aad6 5%, #2386c0 100%);
	background-image: -ms-linear-gradient(bottom, #45aad6 5%, #2386c0 100%);
	background-image: linear-gradient(to bottom, #45aad6 5%, #2386c0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=’false’, startColorstr='#45aad6', endColorstr='#2386c0', GradientType='0');
}

.btn-white,
.btn-white:visited {
	background: #f8f8f8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f8f8f8));
	background-image: -moz-linear-gradient(top, #fefefe, #f8f8f8);
	background-image: -o-linear-gradient(bottom, #fefefe 5%, #f8f8f8 100%);
	background-image: -ms-linear-gradient(bottom, #fefefe 5%, #f8f8f8 100%);
	background-image: linear-gradient(to bottom, #fefefe 5%, #f8f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f8f8f8');
	
	border: 1px solid #ddd;
	color: #0654BA;
}

.btn-green,
.btn-green:visited {
	background: #479313;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#70b42d), to(#479313));
	background-image: -moz-linear-gradient(top, #70b42d, #479313);
	background-image: -o-linear-gradient(bottom, #70b42d 5%, #479313 100%);
	background-image: -ms-linear-gradient(bottom, #70b42d 5%, #479313 100%);
	background-image: linear-gradient(to bottom, #70b42d 5%, #479313 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70b42d', endColorstr='#479313');
	
	border: 1px solid #ddd;
	color: #fff;
}

/* HOVERED */
.btn:hover {
	background: #00509d;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00509d', endColorstr='#00509d');
	color: #fff;
}

.btn-blue:hover {
	background: #2386c0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2386c0', endColorstr='#2386c0');
	color: #fff;
}

.btn-white:hover {
	background: #fafafa;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#fafafa');
	color: #0654BA;
}

.btn-green:hover {
	background: #499C22;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499C22', endColorstr='#499C22');
	color: #fff;
}

/* DISABLED */

.btn:disabled {
	opacity:0.4;
	progid:DXImageTransform.Microsoft.gradient(Opacity=40);
	filter: alpha(opacity=40); /* IE 7 and Earlier */
    /* Next 2 lines IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}

/* BUTTON SIZE */
.btn-small {
	font-size: 12px;
}

.img-btn {
	border: none;
	padding: 0;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	
	display: inline-block;
}

td button {
	background: #86bbe5;
	border: 1px solid transparent;
	border-radius: 5px;
}
td button:disabled {
    background: #bbddff;
}

td button[open] {
	background: #FFB246;
}