@CHARSET "UTF-8";

/* dialog style */
.dialog,
.overlay {
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;

	position: absolute;	

	display: none;
}

.dialog.open,
.overlay.open {
	display: block;
}

.dialog .close,
.overlay .close {
	background: url("${res.img.local.img.icon.close_png}") no-repeat scroll;
	height: 12px;
	position: absolute;
	right: 10px;
	top: 13px;
	width: 12px;
	cursor: pointer;
	z-index: 3000;
}

.dialog .dialog-header {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: #fff;
	border-radius: 5px 5px 0 0;
	padding: 10px;
	min-width: 200px;
}

.dialog-header h2 {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
}

.dialog .dialog-pane {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 10px;
}

.mask {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	
	display:none;
}

.dialog h1 {
	font-size: 18px;
	font-weight: bold;
	
	text-align: left;
	color: #666;
}

.dialog p {
	margin-bottom: 8px;
	line-height: 1.33;
}

.dialog .btns {
	margin-top: 1em;
	border-top: 1px solid #ccc;
	padding: 10px 0 0;
	
	text-align: right;
}

/**************OVERLAY ************************/
.overlay {
	border-radius: 5px;
}

.overlay .dialog-header,
.overlay .dialog-pane {
	border: none;
}

.overlay .dialog-header {
	display: none;
}

.overlay .dialog-pane {
	border: 1px solid #ddd;
	border-radius: 5px;

	background: #fff;
	padding: 10px;
}