@CHARSET "UTF-8";

/* dialog style */
.dialog {
	position: absolute;
	display: none;
}

.dialog.open {
	display: block;
}

.dialog .close {
	background: url("../img/icon/close.png") no-repeat scroll;
	height: 12px;
	position: absolute;
	right: 10px;
	top: 13px;
	width: 12px;
	cursor: pointer;
	z-index: 3000;
}

.dialog .dialog-header {
	border-top: 1px solid #3AA7E9;
	border-left: 1px solid #3AA7E9;
	border-right: 1px solid #3AA7E9;
	background: #fff;
	border-radius: 5px 5px 0 0;
	padding: 10px;
	min-width: 200px;
}

.dialog-header h2 {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
}

.dialog .dialog-pane {
	border-left: 1px solid #3AA7E9;
	border-right: 1px solid #3AA7E9;
	border-bottom: 1px solid #3AA7E9;
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 10px;
}

.mask {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	
	display:none;
}

.dialog h1 {
	font-size: 18px;
	font-weight: bold;
	
	text-align: left;
	color: #666;
}

.confirm h1 {
	font-size: 17px;
	text-align: left;
}

.alert h1 {
	font-size: 18px;
	text-align: left;
}

.dialog p {
	margin-bottom: 8px;
	line-height: 1.33;
}

.dialog .btns {
	margin: 15px 0 5px;
	border-top: 1px solid #ccc;
	padding: 10px 0 0;
	
	text-align: right;
}