@CHARSET "UTF-8";
.file-input {
	position: relative;
}

.file-input input[type=text] {
	position: relative;
	z-index: 0;
}

.file-input input[type=file] {
	position: absolute;
	
	opacity: 0;
	filter:Alpha(opacity=0); /* ie 6-8 */
	
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}