@CHARSET "UTF-8";
.icon {
	background: transparent no-repeat scroll left center;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	
	vertical-align: middle;
}

.icon-small {
	width: 12px;
	height: 12px;
}

.error {
	background-image: url("../img/icon/error.png");
}