@CHARSET "UTF-8";
.icon {
	background: transparent no-repeat scroll left center;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	
	vertical-align: middle;
}

.icon-small {
	width: 12px;
	height: 12px;
}

.help {
	background-image: url("../img/icon/icon_help.gif");
	margin-top: -1px;
}

.filter {
	background-image: url("../img/icon/filter.png");
}

.export {
	background-image: url("../img/icon/export.png");
}

.question {
	background-image: url("../img/icon/question.png");
}