/* breadcrumb begin */
.breadcrumb {
/*	margin: 20px 0 10px 0;
	padding: 0 0 0 20px;
	background: #fff;*/
	display: inline-block;
}

.breadcrumb li {
	list-style: none inside none;
	float: left;
}

.breadcrumb .separator {
	margin: 0 5px;
}

/* breadcrumb end */

/* links navigation begin */
.links-nav {
	list-style: none;
}

.links-nav li {
	margin: 0 10px 0;
	padding: 0 0 10px 0;
	float: left;
}

.links-nav li.separator {
	color: #ccc;
}

.links-nav li.active {
	background: url("../img/bottom_pointer.png") no-repeat scroll bottom center;
}
/* links navigation end*/

/* pane begin */
.pane {
	margin: 20px 0 0;
	border: 1px solid #ccc;
	padding: 20px;
	background: #fff;
}

.pane .header {
	margin-bottom: 20px;
	padding: 0 0 10px;
	border-bottom: 1px solid #ccc;
}

.pane .header h3 {
	padding-bottom: 4px;
	font-size: 14px;
	font-weight: bold;
}

.pane-table .header {
	margin-bottom: 0;
}

.pane-table .header select.fr {
	margin-left: 20px;
}
/* pane end */

.table {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

/* steps module begin */

.steps-wrapper {
	display: table;
	width: 100%;
}

.steps {
	display: table-row;
}

.steps .step {
	padding: 0 17px 0 0px;
	background: url(../img/step.png) no-repeat scroll right center #F9FAFB;
	display: table-cell;
	text-align: center;
	line-height: 28px;
}

.steps .step span {
	background-color: #F9FAFB;
	display: block;
}

.steps .step:last-child {
	background-image: none;
}

.steps .step.done {
	background-image: url(../img/done.png);
}

.steps .step.done span {
	background-color: #DEDEDF;
	font-weight: bold;
}
/* steps module end */

/* active detail begin */
.active-detail {
	margin-top: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px 20px;
	background-color: #F9FAFB;
}

.active-detail .active-time {
	margin-bottom: 10px;
}

.active-detail .active-brief {
	margin-bottom: 10px;
}

.active-detail .active-brief p {
	margin: 8px 0;
	line-height: 1.333;
}
/* active detail end */