@CHARSET "UTF-8";
.pretty-text {
	font-size: 12px;
	line-height: 1.25em;
	word-wrap: break-word;
	/* word-break: break-all; */
}

.pretty-text > div {
	margin-top: 1em;
}

.pretty-text strong {
	font-weight: bold;
}

.pretty-text i {
	font-style: italic;
}

.pretty-text del {
	text-decoration: line-through;
}

.pretty-text u {
	text-decoration: underline;
}

.pretty-text p {
	margin: 1em 0;
}

.pretty-text ul {
	margin: 1em 0;
	padding-left: 40px;
	list-style: disc outside none;
}

.pretty-text ol {
	margin: 1em 0;
	padding-left: 40px;
	list-style: numeric outside none;	
}

.pretty-text table {
	width: auto;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.pretty-text table td, 
.pretty-text table th {
	border: 1px solid #ccc;
	padding: .5em;
}