@CHARSET "UTF-8";
html body {
	font-size: 12px;
	color: #333;
    font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
}

main {
	border: 0 none;
	margin: 0;
	padding: 0;
	display: block;
}

table {
	width: 100%;
}

input, select {
	box-sizing: content-box;
	vertical-align: middle;
	outline: none;
}

a {
	color: #007ab0;
	text-decoration: none;
}

a:focus, a:hover {
    color: #007ab0;
    text-decoration: none;
}

a:visited {
	color: #007ab0;
}

em {
	font-weight: bold;
}

menu li {
	list-style: none;
}

hr {
	margin-bottom: 0;
	border-top: 1px solid #ccc;
}